/* Write your CSS here */

.button1 {
  background-color: transparent;
  border-width: 0px;
  outline: none;
  cursor: pointer;
}

.row1 {
  display: flex;
  background-color: transparent;
  border: 1px solid #cbd5e1;
  border-radius: 5px;
  height: 40px;
  margin-top: 3px;
  margin-top: 3px;
}

.para4 {
  width: 90px;
  padding-left: 10px;
  font-size: 15px;
  font-family: 'Roboto';
  color: #7e858e;
  font-weight: 600;
}
.para5 {
  width: 90px;
  font-size: 15px;
  font-family: 'Roboto';
  color: #7e858e;
  font-weight: 600;
}
.para6 {
  width: 90px;
  font-size: 15px;
  font-family: 'Roboto';
  color: #7e858e;
  font-weight: 600;
}

.img1 {
  width: 20px;
  margin-top: 10px;
}
